* {
    box-sizing: border-box;
}

body {
    background: #f0f4f4;
    color: black;
    font-size: 15pt;
    line-height: 1.85em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

body.home.header:after {
    opacity: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.nav {
    justify-content: center;
    
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    z-index: 1;
    overflow: hidden;
    display:flex;
    
}

.nav>ul {
    line-height: 0px;
    position: relative;
    display: inline-block;
    margin: 0;
    height: 21px;
    border-left: solid 2px rgba(192, 192, 192, 0.35);
    border-right: solid 2px rgba(192, 192, 192, 0.35);
}

.nav>ul>li {
    display: inline-block;
    margin: -9px 0.5em 0 0.5em;
    border-radius: 0.5em;
    padding: 0.85em;
    border: solid 1px transparent;
}

.nav>ul>li.active {
    border-color: rgba(192, 192, 192, 0.35);
}

.nav>ul>li>a,
.nav>ul>li>span {
    display: block;
    color: inherit;
    text-decoration: none;
    border: 0;
    outline: 0;
}

.nav>ul>li>ul {
    display: none;
}

body {
    line-height: 1.5;
}

.home-wrapper {
    margin: 0 auto;
    width: 100%;
}

ol,
ul {
    list-style: none;
}

.header {
    position: relative;
    background-image: url('../images/header.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 7.5em 0 2em 0;
    cursor: default;
    background-attachment: unset;
    
}

.header {
    background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

body.home .header {
    height: 50vh;
}

.header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.header .inner {
    position:absolute;
    z-index: 1;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.header header {
    display: inline-block;
}

.header header>p {
    font-size: 1.25em;
    margin: 0;
}

.header h1 {
    color: #fff;
    font-size: 3em;
    line-height: 1em;
}

.header h1 a {
    color: inherit;
}

<<<<<<< HEAD
.header .button {
    display: inline-block;
    border-radius: 100%;
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    text-align: center;
    font-size: 1.25em;
    padding: 0;
}
=======

>>>>>>> main

.header hr {
    top: 1.5em;
    margin-bottom: 3em;
    border-bottom-color: rgba(192, 192, 192, 0.35);
    box-shadow: inset 0 5px 0 0 rgba(192, 192, 192, 0.35);
}

.header hr:before,
.header hr:after {
    background: rgba(192, 192, 192, 0.35);
}

.header footer {
    margin: 1em 0 0 0;
}

.header .inner {
    position: relative;
    z-index: 1;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

h1,
h3,
h4,
h6 {
    font-weight: 400;
    line-height: 1.25em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom-color: transparent;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-weight: 600;
}

label {
    display: block;
    width: 100%;
    margin: 16px 0;
    font: size 16px;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    position: relative;
    display: inline-block;
    background: #df7366;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.65em 3em 0.65em 3em;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 300;
}

.card {
    box-shadow: 0 8px 16px 0 rgb(5, 5, 5);
    transition: 0.3s;
}

.card {
    box-sizing: content-box;
}

.success-card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 255, 13);
}

.failure-card:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 0, 0);
}

.neutral-card:hover {
    box-shadow: 0 8px 16px 0 rgb(17, 0, 255);
    overflow: hidden;
}

#card-container {
    padding: 2px 16px;
    margin: auto;
}

#card-container {
    display: block;
    justify-content: center;
}

.card {
    display: inline-block;
    height: 25%;
    width: 25%;
}

.card {
    float: inline-start;
    display: flex;
}

.card {
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 10px 3px;
}

.article-header {
    color: white;
    text-align: center;
}

.flex-box1 {
    display: flex;
    margin: 20px;
}

.flex-box1>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-box {
    background-color: white;
    flex: 1;
    padding: 1rem;
    align-items: center;
}

form {
    align-items: center;
}

form>h2 {
    color: #df7366;
    text-shadow: 2px 2px 4px #f0e1e1;
}

fieldset {
    border: none;
}

.box2 {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
}

.box2 p {
    margin: 20px;
}

.footer {
    display: flex;
    margin: 20px;
    flex: 1;
    min-height: 20vh;
}

.footer div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.social-links {
    background-color: whitesmoke;
    padding: 1rem;
    align-items: center;
    border-radius: 4em;
}

.social-links article {
<<<<<<< HEAD
    padding: 1rem;
    align-items: center;
    margin: auto;
}

.social-links>article>a {
    margin: 1rem;
=======
	padding: 1rem;
	align-items: center;
	margin: auto;

}

.social-links>article>a {
	margin: 1rem;
>>>>>>> main
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;

}

.copyright-container ul>li {
    align-items: center;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: WHITE;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: white;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.text {
    padding-top: 5px;
    font-size: 16px;
<<<<<<< HEAD
}
=======
}










>>>>>>> main
